/* =========================================================
   DOLCI - DISEÑO COMPLETO
   DISEÑADO PRIMERO PARA CELULAR
========================================================= */


/* =========================================================
   VARIABLES
========================================================= */

:root {
    --crema: #f5efe4;
    --crema-claro: #fbf8f1;
    --cafe: #4a2515;
    --cafe-oscuro: #32170d;
    --dorado: #c98316;
    --texto: #302825;
}


/* =========================================================
   CONFIGURACIÓN GENERAL
========================================================= */

* {
    box-sizing: border-box;
}


html {
    width: 100%;
    overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 0;
    overflow-x: hidden;

    font-family: "Montserrat", sans-serif;

    color: var(--texto);

    background:
        linear-gradient(
            90deg,
            #e8dbc2 0%,
            #f9f6ef 35%,
            #f9f6ef 65%,
            #e8dbc2 100%
        );
}


button {
    font-family: inherit;
}


/* =========================================================
   PÁGINA
========================================================= */

.pagina {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


/* =========================================================
   HERO
========================================================= */

.hero {
    position: relative;

    width: 100%;
    min-height: 610px;

    overflow: hidden;

    background:
        radial-gradient(
            circle at center,
            rgba(255, 255
